RewriteEngine On

# Allow direct access to image files
RewriteCond %{REQUEST_FILENAME} -f
RewriteCond %{REQUEST_FILENAME} \.(jpg|jpeg|png|gif|webp)$
RewriteRule ^ - [L]

# Deny access to other files
<FilesMatch "\.(?i:php|phtml|php3|php4|php5|php7|pl|py|jsp|asp|htm|shtml|sh|cgi)$">
  Deny from all
</FilesMatch>

# Prevent directory listing
Options -Indexes
